:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --v-d-blue: hsl(234, 12%, 34%);
    --g-blue: hsl(229, 6%, 66%);
    --v-l-light: hsl(0, 0%, 98%);

    --principal-font: 'Poppins', sans-serif;
}

/* GLOBALS */
html  {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after { box-sizing: inherit; }
body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--principal-font);
    background-color: var(--v-l-light);
}
img { max-width: 100%; }
h1, h2, h3 { margin: 0; }
main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADING */
.heading {
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    font-weight: 200;
    color: var(--v-d-blue);
}
h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--v-d-blue);
}
.heading p {
    color: var(--g-blue);
    max-width: 50rem;
}

/* CARDS */
.cards {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 3.5rem;
    gap: 3rem;
}

/* CARD */
.card {
    max-width: 35rem;
    height: 25rem;
    padding: 3rem 4rem;
    background-color: white;
    position: relative; 
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 2px 2px 17px 4px rgb(220, 220, 220);
    /* box-shadow: initial; */
}
.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .5rem;
    top: 0;
    left: 0;
}
.card1::after { background-color: var(--cyan); }
.card2::after { background-color: var(--red); }
.card3::after { background-color: var(--orange); }
.card4::after { background-color: var(--blue); }
.card h3 {
    font-size: 2rem;
}
.card p {
    color: var(--g-blue);
    font-size: 1.3rem;
}
.card img {
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
}

/* BLOCK 2 */
.block2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (max-width: 375px) {
    .cards {
        flex-direction: column;
        margin-bottom: 4rem;
    }
    .contenedor {
        max-width: 90%;
    }
    body {
        font-size: 1.3rem;
    }
}
